<%= render 'partials/navbar' %>

<h1>HealthCare Clinic</h1>

<div class="jumbotron jumbotron-fluid">
    <div id="outercard">
        <div class="card" style="width: 90%; display:block; margin:auto; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="image-placeholder-center">
                <%= image_tag ("homepage.jpg"), class:"im"%>
            </div>

            
              
         

          <%= render 'partials/footer' %>

