<%= render 'partials/navbar' %>

<h1>HealthCare Clinic</h1>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=1753585168196868&autoLogAppEvents=1" nonce="3ecLmocG"></script>

<div class="fb-page" data-href="https://www.facebook.com/HSElive/" data-tabs="timeline" data-width="420" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/HSElive/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HSElive/">HSE Ireland</a></blockquote></div>

<a class="twitter-timeline" data-width="440" data-height="400" href="https://twitter.com/HSELive?ref_src=twsrc%5Etfw">Tweets by HSELive</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="jumbotron jumbotron-fluid">
    <div id="outercard">
        <div class="card" style="width: 90%; display:block; margin:auto; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <div class="image-placeholder-center">
                <%= image_tag ("homepage.jpg"), class:"im"%>

            </div>

            
              
         

          <%= render 'partials/footer' %>

