<hr class="colorgraph">
<div class="jumbotron" id="signup_jumbo">

<h2 style= "text-align: center">Create Doctor Profile <b></h2><br>

<%= render 'form', profile: @doctorprofile %>

</div>
<hr class="colorgraph">
